button.button
  background: none
  border-radius: 10px
  border: 1px solid #FFFFFF
  padding: 15px 23px
  width: 158px
  height: 50px
  box-sizing: border-box
  font-size: 14px
  line-height: 14px
  color: white
  font-weight: normal
  transition: transform .5s
  cursor: pointer

  &.icon
    display: flex
    justify-content: space-between
    align-items: center

  svg, path,  rect
    stroke: #FFFFFF

  &:hover
    transform: translateY(-4px)
    background: white
    color: #1D1D20

    svg, path,  rect
      stroke: #1D1D20

  &.black
    border-color: #1D1D20
    color: #1D1D20

    svg, path,  rect
      stroke: #1D1D20

    &:hover
      background: #1D1D20
      color: #FFFFFF

      svg, path,  rect
        stroke: #FFFFFF