@font-face {
    font-family: 'DM Sans Bold';
    font-style: bold;
    font-weight: 900;
    src: url(../fonts/DMSans-Bold.ttf);
}

@font-face {
    font-family: 'DM Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/DMSans-Italic.ttf);
}

@font-face {
    font-family: 'DM Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/DMSans-Medium.ttf);
}

:root {
    --white: #fff;
    --grey: #f1f4f8b0;
    --dark-grey: #6b7c93;
    --green: #24b47e;
    --teal: #4F96CE;
    --blue: #6772e5;
    --dark-blue: #4F3EF5;
    --spacer: 28px;
}
  
.main-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 768px){
    .main-container {
        margin-top: 78px;
    }
}

img {
    width: 100%;
    height: auto;
}

.languageDropdown {
    position: relative;
}

.languageDropdownMenu {
    position: absolute;
    top: -120px;
    left: -30%;
    width: 90px;
    background: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 0 16px rgba(0, 0 ,0 , 0.2);
}

.languageDropdown .Dropdown-option {
    font-size: 14px;
    color: #1d1d1f;
    opacity: 0.5;
    font-family: 'DM Sans Medium';
}

.languageDropdown .Dropdown-option:hover,
.languageDropdown .Dropdown-control:hover {
    cursor: pointer;
}



.languageDropdown .Dropdown-option.is-selected {
    opacity: 1;
}

.languageDropdown .Dropdown-option.is-selected:after {
    content: url('/static/images/check-circle.svg');
    margin-left: 3px;
    vertical-align: text-bottom;
}

.languageDropdown .Dropdown-option:nth-child(2) {
    margin: 17px 0;
}

.languageDropdownMenu:after {
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    background: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 0;
}